@model List<Product>
@{
    ViewData["Title"] = "محصولات";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ulong ShowReadablePrice;
}
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">محصولات</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        @*<ul class="ec-breadcrumb-list">
                        <li class="ec-breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="ec-breadcrumb-item active">محصولات</li>
                        </ul>*@
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ec-page-content section-space-p product_page shop_page">
    <div class="container">
        <div class="row">
            <div class="ec-shop-rightside col-lg-9 col-md-12 order-lg-last order-md-first margin-b-30">
                @if (Model.Count != 0)
                {
                    <!-- Shop Top Start -->
                    <div class="ec-pro-list-top d-flex">
                        <div class="col-md-6 ec-grid-list">
                            <div class="ec-gl-btn">
                                <button class="btn btn-grid active"><img src="~/assets/images/icons/grid.svg" class="svg_img gl_svg" alt=""></button>
                                <button class="btn btn-list"><img src="~/assets/images/icons/list.svg" class="svg_img gl_svg" alt=""></button>
                            </div>
                        </div>
                        @*<form asp-controller="Product" asp-action="ShowProductByFilter"  method="post">
                            <input type="hidden" id="Products" name="Products" value="@Model" />*@
                            <div class="col-md-6 ec-sort-select">

                            <a><button type="submit"><img src="~/assets/images/icons/filter.svg" class="svg_img pro_svg" alt="اعمال فیلتر"></button></a>&nbsp
                                <span class="sort-by">چینش بر اساس</span>
                                <div class="ec-select-inner">

                                    <select id="Filter" name="Filter">
                                        <option value="" selected>-</option>
                                        <option value="Newest">جدیدترین</option>
                                        <option value="Oldest"> قدیمی ترین</option>
                                        <option value="Alphabet">نام، الف تا ی</option>
                                        <option value="ReverseAlphabet">نام، ی تا الف</option>
                                        <option value="CheapToExpensive">قیمت، کم به زیاد</option>
                                        <option value="ExpensiveToCheap">قیمت، زیاد به کم</option>
                                    </select>

                                </div>
                            </div>
                        @*</form>*@
                    </div>
                    <!-- Shop Top End -->
                    <!-- Shop content Start -->
                    <div class="shop-pro-content">
                        <div class="shop-pro-inner">
                            <div class="row">
                                @foreach (var product in Model)
                                {

                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                        <div class="ec-product-inner">
                                            <div class="ec-pro-image-outer">
                                                <div class="ec-pro-image">
                                                    <a href="product-left-sidebar.html" class="image">
                                                        <img style="width:231px;height:257px" class="main-image" src="~/assets/images/product-image/@(product.productImage)">
                                                    </a>

                                                    <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@product.id" class="quickview" title="مشاهده محصول"><img src="~/assets/images/icons/quickview.svg" class="svg_img pro_svg" alt=""></a>
                                                    <div class="ec-pro-actions">
                                                        <a href="#" class="ec-btn-group compare" title=""><img src="~/assets/images/icons/compare.svg" class="svg_img pro_svg" alt=""></a>
                                                        @if (product.Stock > 0)
                                                        {
                                                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@product.id" title="خرید" class="add-to-cart"><img src="~/assets/images/icons/cart.svg" class="svg_img pro_svg" alt=""></a>
                                                        }
                                                        <a class="ec-btn-group wishlist" title=" افزودن به علاقه مندی"><img src="~/assets/images/icons/wishlist.svg" class="svg_img pro_svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ec-pro-content">
                                                <h5 class="ec-pro-title"><a href="#"> @product.Name </a></h5>
                                                <div class="ec-pro-rating">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                </div>
                                                <div class="ec-pro-list-desc"> @product.Description </div>
                                                <span class="new-price">
                                                    @* @product.Weight
                                                    @if (product.WeightMassUnit == UnitOFMassMeasurement.Gram)
                                                    {
                                                        <span>گرم</span>
                                                    }
                                                    else if (product.WeightMassUnit == UnitOFMassMeasurement.Kg)
                                                    {
                                                        <span>کیلوگرم</span>
                                                    }
                                                    else
                                                    {
                                                        <span>تن</span>
                                                    } *@
                                                    @* &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp *@
                                                    @{
                                                        ShowReadablePrice = (ulong)product.Price;
                                                    }
                                                    @ShowReadablePrice.ToMoreReadable() تومان
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                }
                            </div>
                        </div>
                        <!-- Ec Pagination Start -->
                        <div class="ec-pro-pagination">
                            <span>&nbsp</span>
                            <!-- <span>نمایش 1-12 از 21 مورد</span> -->
                            <ul class="ec-pro-pagination-inner">
                                <li><a class="next" href="#"><i class="ecicon eci-angle-right"></i>&nbspقبلی </a></li>
                                <li><a class="active" href="#">1</a></li>                                
                                <li><a class="next" href="#">بعدی<i class="ecicon eci-angle-left"></i></a></li>
                            </ul>
                        </div>
                        <!-- Ec Pagination End -->
                    </div>
                    <!--Shop content End -->
                }
                else
                {
                    <h5 style="text-align:center">محصولی یافت نشد</h5>
                }
            </div>
            @await Component.InvokeAsync("ShowGroups","Sidebar")
        </div>
    </div>
</section>

