@model List<Product>
@{
    ViewData["Title"] = "محصولات";
}
@{
    ulong ShowReadablePrice;
}
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">محصولات</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ec-page-content section-space-p product_page shop_page">
    <div class="container">
        <div class="row">
            <div class="ec-shop-rightside col-lg-9 col-md-12 order-lg-last order-md-first margin-b-30">
                @if (Model.Count != 0)
                {
                    <!-- Shop Top Start -->
                    <div class="ec-pro-list-top d-flex">
                        <div class="col-md-6 ec-grid-list">
                            <div class="ec-gl-btn">
                                <button class="btn btn-grid active"><img src="~/assets/images/icons/grid.svg" class="svg_img gl_svg" alt=""></button>
                                <button class="btn btn-list"><img src="~/assets/images/icons/list.svg" class="svg_img gl_svg" alt=""></button>
                            </div>
                        </div>
                        <div class="col-md-6 ec-sort-select">

                            <a><button type="submit"><img src="~/assets/images/icons/filter.svg" class="svg_img pro_svg" alt="اعمال فیلتر"></button></a>&nbsp
                            <span class="sort-by">چینش بر اساس</span>
                            <div class="ec-select-inner">

                                <select id="Filter" name="Filter">
                                    <option value="null" selected>-</option>
                                    <option value="Newest">جدیدترین</option>
                                    <option value="Oldest"> قدیمی ترین</option>
                                    <option value="AlphabetAscending">نام، الف تا ی</option>
                                    <option value="AlphabetDescending">نام، ی تا الف</option>
                                    <option value="CheapToExpensive">قیمت، کم به زیاد</option>
                                    <option value="ExpensiveToCheap">قیمت، زیاد به کم</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <!-- Shop Top End -->
                    <!-- Shop content Start -->
                    <div class="shop-pro-content">
                        <div class="shop-pro-inner">
                            <div class="row">
                                @foreach (var product in Model)
                                {
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                        <div class="ec-product-inner">
                                            <div class="ec-pro-image-outer">
                                                <div class="ec-pro-image">
                                                    <a href="product-left-sidebar.html" class="image">
                                                        <img style="width:231px;height:257px" class="main-image" src="~/assets/images/product-image/@(product.productImage)">
                                                    </a>

                                                    <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@product.id" class="quickview" title="مشاهده محصول"><img src="~/assets/images/icons/quickview.svg" class="svg_img pro_svg" alt="Watch"></a>
                                                    <div class="ec-pro-actions">
                                                        <a class="ec-btn-group compare" title=""><img src="~/assets/images/icons/compare.svg" class="svg_img pro_svg" alt=""></a>
                                                        @if (product.Stock > 0)
                                                        {
                                                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@product.id" title="خرید" class="add-to-cart"><img src="~/assets/images/icons/cart.svg" class="svg_img pro_svg" alt="BuySvg"></a>
                                                        }
                                                        <a href="/Buyer/AddItemToFavorites?itemId=@product.id" class="ec-btn-group wishlist" title=" افزودن به علاقه مندی"><img src="~/assets/images/icons/wishlist.svg" class="svg_img pro_svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ec-pro-content">
                                                <h5 class="ec-pro-title"><a href="#"> @product.Name </a></h5>
                                                <div class="ec-pro-rating">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                </div>
                                                <div class="ec-pro-list-desc"> @product.Description </div>
                                                <span class="new-price">
                                                    @{
                                                        ShowReadablePrice = (ulong)product.Price;
                                                    }
                                                    @ShowReadablePrice.ToMoreReadable() تومان
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                }
                            </div>
                        </div>
                        <!-- Ec Pagination Start -->
                        <div class="ec-pro-pagination">
                            <span>&nbsp</span>

                            @{
                                int page = int.Parse(ViewData["page"].ToString());
                                int pageCount = int.Parse(ViewData["pagesCount"].ToString());
                            }
                            <span id="activePage" style="display:none">@int.Parse(ViewData["page"].ToString());</span>
                            <span id="pagesCount" style="display:none">@int.Parse(ViewData["pagesCount"].ToString());</span>
                            <ul id="pagesContainer" class="ec-pro-pagination-inner">
                                @if (page != 1)
                                {
                                    <li><a class="next" onclick="previousPage()"><i class="ecicon eci-angle-right"></i>&nbspقبلی </a></li>
                                }
                                @if (pageCount <= 8)
                                {
                                    @for (int i = 1; i <= pageCount; i++)
                                    {
                                        if (i == page)
                                        {
                                            <li><a class="active">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a>@i</a></li>
                                        }
                                    }
                                }
                                else
                                {
                                    if (page >= 4)
                                    {
                                        @for (int i = page - 3; i <= page; i++)
                                        {
                                            if (i == page)
                                            {
                                                <li><a class="active">@i</a></li>
                                            }
                                            else
                                            {
                                                <li><a>@i</a></li>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        @for (int i = 1; i <= page; i++)
                                        {
                                            if (i == page)
                                            {
                                                <li><a class="active">@i</a></li>
                                            }
                                            else
                                            {
                                                <li><a>@i</a></li>
                                            }
                                        }
                                    }
                                    if (page + 4 <= pageCount)
                                    {
                                        @for (int i = page + 1; i <= page + 4; i++)
                                        {
                                            <li><a>@i</a></li>
                                        }
                                    }
                                    else
                                    {
                                        @for (int i = page + 1; i <= pageCount; i++)
                                        {
                                            <li><a>@i</a></li>
                                        }
                                    }
                                }
                                @if (page != pageCount)
                                {
                                    <li><a class="next" onclick="nextpage()">بعدی<i class="ecicon eci-angle-left"></i></a></li>
                                }
                            </ul>
                        </div>
                        <!-- Ec Pagination End -->
                    </div>
                    <!--Shop content End -->
                }
                else
                {
                    <h5 style="text-align:center">محصولی یافت نشد</h5>
                }
            </div>
            @await Component.InvokeAsync("ShowGroups","Sidebar")
        </div>
    </div>
</section>
<script src="~/assets/js/plugins/pagination.js?version=3"></script>
<script src="~/assets/js/plugins/filter.js?version=2"></script>
