@model List<GroupAndSubGroupViewModel>
<!-- Sidebar Area Start -->
<div class="ec-pro-leftside ec-common-leftside col-lg-3 order-lg-first col-md-12 order-md-last">
    <div class="ec-sidebar-wrap">
        <!-- Sidebar Category Block -->
        <div class="ec-sidebar-block">
            <div class="ec-sb-title">
                <h3 class="ec-sidebar-title">دسته‌بندی‌ها</h3>
            </div>
            <div class="ec-sb-block-content">
                <ul>
                    <li>
                        <div class="ec-sidebar-block-item">همه</div>
                        @foreach (var allgroups in Model)
                        {
                            <ul style="display: none;">
                                <li>
                                    <div class="ec-sidebar-sub-item">
                                        <a asp-controller="Product" asp-action="ShowProductByGroupId" asp-route-groupId="@allgroups.groupId">@allgroups.groupName</a>
                                    </div>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
            @foreach (var groups in Model)
            {
                @if (groups.subGroops.Count != 0)
                {
                    <div class="ec-sb-block-content">
                        <ul>

                            <li>
                                <div class="ec-sidebar-block-item">@groups.groupName</div>
                                @foreach (var subgroups in groups.subGroops)
                                {
                                    <ul style="display: none;">
                                        <li>
                                            <div class="ec-sidebar-sub-item">
                                                <a asp-controller="Product" asp-action="ShowProductBySubGroupId" asp-route-subGroupId="@subgroups.id">@subgroups.Name</a>
                                            </div>
                                        </li>
                                    </ul>
                                }
                            </li>

                        </ul>
                    </div>
                }
            }
        </div>
        <!-- Sidebar Category Block -->
    </div>
</div>