@model List<GroupWithSubGroupsWithProductsViewModel>
@{
    ViewData["Title"] = "addGroup";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
            <h1>دسته‌بندی‌ اصلی</h1>
            <p class="breadcrumbs">
                <span><a>پنل</a></span> <span>
                    <i class="mdi mdi-chevron-left"></i>
                </span>دسته‌بندی‌ اصلی
            </p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="ec-cat-list card card-default mb-24px">
                    <div class="card-body">
                        <div class="ec-cat-form">
                            <h4>اضافه کردن دسته جدید</h4>
                            <form asp-controller="Admin" asp-action="addGroup" method="post">
                                <div class="form-group row">
                                    <label for="text" class="col-12 col-form-label">نام گروه</label>
                                    <div class="col-12">
                                        <input id="Name" name="Name" class="form-control here slug-title" maxlength="30">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button name="submit" type="submit" class="btn btn-primary">ارسال</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-12">
                <div class="ec-cat-list card card-default">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="responsive-data-table" class="table">
                                <thead>
                                    <tr>
                                        <th>شناسه</th>
                                        <th>نام</th>
                                        <th>زیر دسته</th>
                                        <th>محصولات</th>
                                        <th>فعالیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            @*<input asp-for="@Model[i].groupId" type="hidden">*@
                                            <td>@Model[i].groupId</td>

                                            @*<input asp-for="@Model[i].groupName" type="hidden">*@
                                            <td>@Model[i].groupName</td>
                                            <td>
                                                <span class="ec-sub-cat-list">
                                                    <span class="ec-sub-cat-count" title="Total Sub Categories">@Model[i].subGroups.Count</span>
                                                    @*<input asp-for="@Model[i].subGroups" type="hidden">*@
                                                    @for (int j = 0; j < Model[i].subGroups.Count; j++)
                                                    {
                                                        @* <input asp-for="@Model[i].subGroups[j].id" type="hidden">
                                                <input asp-for="@Model[i].subGroups[j].Name" type="hidden">*@

                                                        <span class="ec-sub-cat-tag">@Model[i].subGroups[j].Name</span>
                                                    }
                                                </span>
                                            </td>
                                            <td>@Model[i].productNumber</td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                        data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" data-display="static">
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a asp-controller="Admin" asp-action="EditGroup" asp-route-groupId="@Model[i].groupId" class="dropdown-item">ویرایش</a>
                                                        <a asp-controller="Admin" asp-action="DeleteGroup" asp-route-groupId="@Model[i].groupId" class="dropdown-item">حذف</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

