@model UserViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-contacts">
            <div>
                <h1>نمایه</h1>
                <p class="breadcrumbs">
                    <span><a href="#">پنل</a></span> <span>
                        <i class="mdi mdi-chevron-left"></i>
                    </span>پروفایل کاربر
                </p>
            </div>
        </div>
        <div class="card bg-white profile-content ec-vendor-profile">
            <div class="row">
                <div class="col-lg-4 col-xl-3">
                    <div class="profile-content-left profile-left-spacing">
                        <div class="ec-disp">
                            <div class="text-center widget-profile px-0 border-0">
                                <div class="card-img mx-auto rounded-circle">
                                    @if (Model.user.userImage != null)
                                    {
                                        <img class="image-thumb-preview ec-image-preview v-img" src="~/assets/images/user-image/@(Model.user.userImage)" alt="edit">
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/user/user-image.jpg" alt="user image">
                                    }
                                </div>
                                <div class="card-body">
                                    @if (Model.user.Name == null && Model.user.Family == null)
                                    {
                                        <h4 class="py-2 text-dark"></h4>
                                    }
                                    else
                                    {
                                        <h4 class="py-2 text-dark">@Model.user.Name @Model.user.Family</h4>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr class="w-100">
                        <div class="contact-info pt-4">
                            <h5 class="text-dark">اطلاعات تماس</h5>
                            <p class="text-dark font-weight-medium pt-24px mb-2"> آدرس ایمیل </p>
                            <p>
                                <span>@Model.user.Email</span>
                            </p>
                            <p class="text-dark font-weight-medium pt-24px mb-2"> شماره تلفن </p>
                            <p>@Model.user.PhoneNumber</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xl-9">
                    <div class="tab-pane">
                        <div class="tab-pane-content mt-5">
                            <form asp-controller="Admin" asp-action="EditUser" method="post">
                                <input asp-for="@Model.user.Email" type="hidden" />
                                <div class="row mb-2">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="firstName">نام</label>
                                            <input asp-for="@Model.user.Name" type="text" class="form-control" id="firstName" placeholder="نام" value="@Model.user.Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="lastName">نام خانوادگی</label>
                                            <input asp-for="@Model.user.Family" type="text" class="form-control" id="lastName" placeholder="نام خانوادگی" value="@Model.user.Family">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="userName">آدرس</label>
                                    <input asp-for="@Model.user.Address" type="text" class="form-control" id="userName" placeholder="آدرس" value="@Model.user.Address">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="tel">شماره تماس</label>
                                    <input asp-for="@Model.user.PhoneNumber" type="text" class="form-control" id="tel" placeholder="شماره تماس" value="@Model.user.PhoneNumber">
                                </div>
                                <div class="text-danger" style="color:red" asp-validation-summary="ModelOnly"></div>
                                <div class="d-flex justify-content-end mt-5">
                                    <button type="submit"
                                            class="btn btn-primary mb-2 btn-pill">
                                        به روز رسانی پروفایل
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>