@model List<SellerListViewModel>
@{
    ViewData["Title"] = "SellerList";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-contacts">
            <div>
                <h1>لیست فروشندگان</h1>
                <p class="breadcrumbs">
                    <span><a asp-controller="Admin" asp-action="Index">پنل</a></span> <span>
                        <i class="mdi mdi-chevron-left"></i>
                    </span>لیست فروشندگان
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ec-vendor-list card card-default">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="responsive-data-table" class="table">
                                <thead>
                                    <tr>

                                        <th>نام</th>
                                        <th>ایمیل:</th>
                                        <th>محصولات</th>
                                        <th>فروش کل</th>
                                        <th>فعالیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model[i].Name @Model[i].Family</td>
                                            <td>
                                                <span>@Model[i].Email</span>
                                            </td>
                                            <td>@Model[i].productsNumber</td>
                                            <td>@Model[i].soldNumber</td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                        data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" data-display="static">
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a asp-controller="Admin" asp-action="EditUser" asp-route-userEmail="@Model[i].Email" class="dropdown-item">ویرایش</a>
                                                        <a asp-controller="Admin" asp-action="DeleteUser" asp-route-userEmail="@Model[i].Email" class="dropdown-item">حذف</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

