@model List<CartViewModel>
@{
    ViewData["Title"] = "سبد خرید";
}
@{
    var Total = 0;
    int anyResault;
    ulong TotalPrice = 0;
    ulong TotalEachRow, ShowReadablePrice;
}
<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">سبد خرید</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            @*<li class="ec-breadcrumb-item"><a href="index.html">خانه</a></li>
                            <li class="ec-breadcrumb-item active">سبد خرید</li>*@
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- Ec cart page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-cart-leftside col-lg-8 col-md-12 ">
                <!-- cart content Start -->
                <div class="ec-cart-content">
                    <div class="ec-cart-inner">
                        <div class="row">
                            @if (Model.Count == 0)
                            {
                                <h4>سبد خرید شما خالی است</h4>
                            }
                            else
                            {
                                <form asp-controller="Buy" asp-action="UserCart" method="post">
                                    <div class="table-content cart-table-content">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>شناسه محصول</th>
                                                    <th>نام محصول</th>                                                   
                                                    <th style="text-align: center;">تعداد</th>
                                                    <th>قیمت</th>
                                                    <th>کل</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Count; i++)
                                                {
                                                    <input asp-for="@(Model[i].productId)" type="hidden" />
                                                    <tr>
                                                        <td class="ec-cart-pro-price">@Model[i].productId</td>

                                                        <td data-label="Product" class="ec-cart-pro-name"><a href="#"><img class="ec-cart-pro-img mr-4" src="~/assets/images/product-image/@(Model[i].productImage)" alt="عکس محصول">@(Model[i].productName)</a></td>
                                                        <input asp-for="@(Model[i].productName)" type="hidden" />
                                                        <input asp-for="@(Model[i].productImage)" type="hidden" />

                                                        <td>
                                                            <div class="cart-qty-plus-minus">
                                                                <input asp-for="@(Model[i].selectedNumberOfProducts)" type="text" maxlength="3" value="@Model[i].selectedNumberOfProducts">
                                                            </div>
                                                        </td>

                                                        @{
                                                            ShowReadablePrice = (ulong)Model[i].productPrice;
                                                        }
                                                        <td data-label="Price" class="ec-cart-pro-price"><span class="amount">@(ShowReadablePrice.ToMoreReadable()) تومان </span></td>
                                                        <input asp-for="@(Model[i].productPrice)" type="hidden" />
                                                        @if (int.TryParse(Model[i].selectedNumberOfProducts, out anyResault) == true)
                                                        {
                                                            TotalEachRow = (ulong)(Model[i].productPrice) * (ulong)(int.Parse(Model[i].selectedNumberOfProducts));
                                                            <td data-label="Total" class="ec-cart-pro-subtotal">
                                                                @TotalEachRow.ToMoreReadable() تومان
                                                            </td>

                                                            TotalPrice += TotalEachRow;
                                                        }
                                                        else
                                                        {
                                                            <td data-label="Total" class="ec-cart-pro-subtotal"> 0 تومان</td>
                                                        }
                                                        <td data-label="Remove" class="ec-cart-pro-remove">
                                                            <a asp-controller="Buy" asp-action="deleteItemFromCart" asp-route-productId="@(Model[i].productId)"><i class="ecicon eci-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td class="ec-cart-pro-price">جمع کل</td>
                                                    <td class="ec-cart-pro-name"></td>
                                                    <td class="ec-cart-pro-price"></td>
                                                    <td class="ec-cart-pro-qty" style="text-align: center;"></td>
                                                    <td class="ec-cart-pro-subtotal">@TotalPrice.ToMoreReadable() تومان </td>
                                                    <td class="ec-cart-pro-remove">
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="ec-cart-update-bottom">
                                                <button asp-route-forPurchase="true" class="btn btn-primary" type="submit" style="background-color:green">پرداخت و تکمیل خرید </button>
                                                <button asp-route-forPurchase="false" class="btn btn-primary" type="submit">به روزرسانی </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
                <!--cart content End -->
            </div>
        </div>
    </div>
</section>

